.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}

.heroImageContainer {
    position: relative;
}

.userValuesContainer {
    position: absolute;
    top: 70%;
    left: 7%;
    display: flex;
    width: 25%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}

input {
    /* margin-left: px; */
    border: 1px solid #ccc;
    background-color: lightgray;
    width: 100%;
    padding: 5px 10px;
    /* border-radius: 4px; */
    box-sizing: border-box;
}

img {
    /* opacity: 0.25; */
    z-index: -1;
    display: flex;
    height: auto;
    max-width: 100%;
}

button:hover {
    cursor: pointer;
}

/* button {
    display: flex;
    width: 50%;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 0 0 0;
} */

.btn {
margin: 0;
}

.btn-outline-primary {
    display: flex;
    width: 50%;
    justify-content: center;
    box-sizing: border-box;
    background-color: black;
     color: white;
    border-radius: 0;
}

.btn-outline-primary:hover {
    background-color: #606060;
    border-color: black;
}

.mb-2 {
    margin-bottom: 0 !important;
    padding: 0;
}

.mr-2 {
    margin-right: 0 !important; 
    padding: 0;
}

.errorMessage {
    color: red;
    position: absolute;
    top: 75%;
    left: 8%;
}

@media(max-width: 600px) {
    .userValuesContainer {
        display:none;
    }
}