
<!--******************/ Header /******************-->

<nav class="navigationalHeader">
    <div class="wrapLogo">    
        <img class="navLogo" src="/assets/img/rocketLogo.svg"/>
    </div>
    <div class="wrapNavBar">
        <span routerLink="Home" class="navHomeButton">Home</span>
        <span routerLink="Toplist" class="navToplistButton">Toplist</span>
        <span routerLink="Rating" class="navRatingButton">Rating</span>
        <span routerLink="AddArticle" class="navAddArticleButton">Add Article</span>
        <span routerLink="AboutUs" class="navAboutUsButton">About us</span>
    </div>  
</nav>

