
<!--******************/ Header /******************-->

<nav class="navigationalHeader">
    <div class="wrapLogo">    
        <img class="navLogo" src="https://image.ibb.co/e6vOFQ/wikipedia.png"/>
    </div>
    <div class="wrapNavBar">
        <a routerLink="Home" class="navHomeButton">Home</a>
        <a routerLink="Toplist" class="navToplistButton">Toplist</a>
        <a routerLink="Rating" class="navRatingButton">Rating</a>
        <a routerLink="AddArticle" class="navAddArticleButton">Add Article</a>
        <a routerLink="AboutUs" class="navAboutUsButton">About us</a>
    </div>
</nav>
