<!--******************/ Header /******************-->

<!-- <header class="headerContainer"> -->
    <!-- <div class="headerLogo">Logo</div> -->
    <nav class="navigationalHeader">
        <span>Logo</span>
        <span class="navHomeButton">Home</span>
        <span class="navToplistButton">Toplist</span>
        <span class="navRatingButton">Rating</span>
        <span class="navAddArticleButton">Add Article</span>
        <span class="navAboutUsButton">About us</span>
    </nav>
<!-- </header> -->
