<div class="searchForm-container">
  <form class="searchForm">




    <input class="searchForm-input" type="search" [(ngModel)]="query" placeholder="Browse wikipedia and save any wikis to your rating list!" [ngModelOptions]="{standalone: true}" >
    <button type="button" class="icon clear" (click)="clearSearch(query)" >
      <i class="material-icons icon-white">
        cancel
      </i>
    </button>
    <button  type="submit" class="icon searchIcon" (click)="searchWikipedia(query)">
      <img src="https://image.ibb.co/cpG8zk/search.png" alt="Magnifying Glass Icon">
    </button>
  </form>

  <section class="resultItem" *ngFor="let item of titles; let i=index">
      <h1 class="resultItem-title">
        <a href="{{wikiLink[i]}}"  target="_blank">{{titles[i]}}</a>
      </h1>
      <p>{{articles[i]}}</p>
      <button  type="submit" class="submit" (click)= "onAddToListClick(titles[i], articles[i], wikiLink[i])">
        Spara artikeln
      </button>
  </section>
</div>
