.searchForm-container {
  margin-top: 2em auto;
}

.searchForm {
  display: flex;
  background-color: white;
  margin: 2em auto;
  text-align: center;
  width: 80%;
}

.searchForm-input {
  background-color: #606060;
  border: none;
  padding: 0.2em 0.5em;
  color: white;
  font-size: 2em;
  width: 90%;
  display: block;
}

.icon {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #292929;
  width: 10%;
}

.icon:hover {
  background-color: #1f1f1f;
}

.icon img {
  width: auto;
  height: 22px;
}
.resultItem {
  background-color: #eeeeee;
  opacity: 0;
  animation: show 0.5s forwards ease-in-out;
  color: black;
  width: 80%;
  margin: 1em auto;
  text-align: left;
}
.resultItem p, h1 {
  padding: 0 1rem;
  color: #000;
}
.resultItem h1 {
  padding-top: 1rem;
}

.resultItem:hover {
  background-color: #e3e3e3;
}
.resultItem:hover { background: #c9c9c9;
}

.resultItem-title {
  margin-bottom: 4px;
}

.resultItem-title a {
  color: #000;
  text-decoration: none;
}

.resultItem-title a:hover {
  text-decoration: underline;
}

.resultItem-snippet, .resultItem-link {
  margin-top: 20px;
  color: black;
  font-size: 40px;
}
button.submit {
  margin: 0;
  padding: 0.7em;
  width: 100%;
  color: #fff;
  background-color: #525252;
  border: none;
  font-size: 1.1em;
}
button.submit:hover {
  background: #1f1f1f;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media(max-width: 600px) {
  .searchForm-input {
    width: 80%;
  }
  .icon {
    width: 20%;
  }
}