<!--******************/ Footer /******************-->

<nav class="navigationalFooter">
    <div class="firstColumnContainer">
        <p>Prutt</p>
        <hr >
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
    </div>
    <div class="secondColumnContainer">
        <p>Prutt</p>
        <hr >
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
    </div>
    <div class="thirdColumnContainer">
        <p>Prutt</p>
        <hr >
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
    </div>
    <div class="fourthColumnContainer">
        <p>Prutt</p>
        <hr >
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
    </div>
</nav>
