
<!--******************/ Footer /******************-->

<nav class="navigationalFooter">
    <div class="firstColumnContainer">
        <p>About the company</p>
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
    </div>
    <div class="secondColumnContainer">
        <p>Apply for work</p>
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
        <!-- <span>1234</span> -->
    </div>
    <div class="thirdColumnContainer">
        <p>Contact us</p>
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
        <!-- <span>1234</span> -->
    </div>
    <div class="fourthColumnContainer">
        <p>Fiskelina</p>
        <span>1234</span>
        <span>1234</span>
        <span>1234</span>
    </div>
    <div class="socialMediaContainer">
        <img class="facebookLogo" src="/assets/img/facebook.png"/>
        <img class="instaLogo" src="/assets/img/instagram.png"/>
        <img class="twitterLogo" src="/assets/img/Twitter.png"/>
    </div>
</nav>
