
<!--******************/ Footer /******************-->

<nav class="navigationalFooter">
    <div class="firstColumnContainer">
        <p>For Evaluators</p>
        <span>Hosted Demo</span>
        <span>Download Trial</span>
        <span>Live Presentation</span>
        <span>Webinar</span>
    </div>
    <div class="secondColumnContainer">
        <p>For Our Clients</p>
        <span>Support</span>
        <span>Client Portal</span>
        <span>Training</span>
    </div>
    <div class="thirdColumnContainer">
        <p>General</p>
        <span>Contact</span>
        <span>About us</span>
        <span>Careers</span>
        <!-- <span>1234</span> -->
    </div>
    <div class="fourthColumnContainer">
        <p>For Press</p>
        <span>Press Releases</span>
        <span>Press Information</span>
        <span>Corporate blog</span>
    </div>
    <div class="socialMediaContainer">
        <img class="facebookLogo" src="/assets/img/facebook.png"/>
        <img class="instaLogo" src="/assets/img/instagram.png"/>
        <img class="twitterLogo" src="/assets/img/Twitter.png"/>
    </div>
</nav>
