.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: lightgray;
}

.headerContainer {
    padding: 10.5px;
    background-color: black;
    opacity: 0.85;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.mainContainer {
    text-align: center;
    z-index: 2;
}

.footerContainer {
    padding: 20px;
    background-color: #0F1028;
}
