<!-- <nav class="navigationalHeader">
  <div class="wrapNavBar">
    <a routerLink="" routerLinkActive="active" class="navHomeButton">Home</a>
    <a routerLink="/Toplist" routerLinkActive="active" class="navToplistButton">Toplist</a>
    <a routerLink="/Rating" routerLinkActive="active" class="navRatingButton">Rating</a>
    <a routerLink="/AddArticle" routerLinkActive="active" class="navAddArticleButton">Add Article</a>
  </div>

</nav>

<router-outlet></router-outlet>


<footer class="footerContainer">
    <app-footer></app-footer>
</footer> -->


<body class="wrapper">

    <header class="headerContainer">
        <app-header></app-header>
    </header>
    <div class="sneakyUnicorn"></div>

<!--******************/ routed mainContent /******************-->

    <main class="mainContainer">
        <router-outlet></router-outlet>
    </main>


    <footer class="footerContainer">
        <app-footer></app-footer>
    </footer>
</body>
