<nav class="navigationalHeader">

  <div class="wrapNavBar">
    <a routerLink="" routerLinkActive="active" class="navHomeButton">Home</a>
    <a routerLink="/toptencomponent" routerLinkActive="active" class="navToplistButton">Toplist</a>
    <a routerLink="/rating" routerLinkActive="active" class="navRatingButton">Rating</a>
    <a routerLink="/addarticle" routerLinkActive="active" class="navAddArticleButton">Add Article</a>
    <!-- <span routerLink="" class="navAboutUsButton">About us</span> -->
  </div>
</nav>

<router-outlet></router-outlet>
 
