.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: lightgray;
}

.sneakyUnicorn {
    align-items: flex-start;
    flex-shrink: 0;
    background-color: white;
    height: 70px;
    width: 100%;
}

.headerContainer {
    background-color: black;
    opacity: 0.85;
    position: fixed;
    width: 100%;
    color: lightgray;
}

.mainContainer {
    text-align: center;
    flex: 1 0 auto;
}

.footerContainer {
    flex-shrink: 0;
    padding: 20px;
    background-color: black;
    opacity: 0.85;
}
