
<body class="wrapper">
    <header class="headerContainer">
        <app-header></app-header>
    </header>

<!--******************/ routed mainContent /******************-->

    <main class="mainContainer">

        <app-landing-page></app-landing-page>
        <app-add-new-article></app-add-new-article>
    </main>

    <!-- temp component placment for testing only - remove after routing is working -->
    <app-aritcle-list></app-aritcle-list>
    <app-top-ten></app-top-ten>
    <!-- temp component placment for testing only - remove after routing is working -->

    <footer class="footerContainer">
        <app-footer></app-footer>
    </footer>
</body>
